.button {
  min-width: 150px;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  line-height: 30px;
  color: rgb(6, 64, 83);
  border-radius: 15px;
  border: 1px solid rgba(97, 192, 223, 0.841);
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background: rgba(71, 198, 240, 0.283);
}

.button[disabled=disabled],
.button:disabled {
  border: 1px solid #b0aeae76;
  background-color: #cccccc6f;
  color: #9b9999;
}