.grid_container {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 3px;
}

.big_square {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.small_square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
  margin: 1px;
  color: rgb(15, 75, 95);
  background-color: rgba(60, 192, 237, 0.433);
  cursor: pointer;
}

.active {
  background-color: rgba(23, 176, 227, 0.784);
}