.grid_container {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 3px;
  transition: 0.3s ease-in-out;
}

.valid {
  box-shadow: 0px 0px 20px 10px rgba(24, 177, 24, 0.772);
}

.invalid {
  box-shadow: 0px 0px 20px 10px rgba(219, 22, 22, 0.797);
}

.big_square {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  border: 1px solid rgb(23 106 191 / 35%);
}

.cell {
  display: flex;
  text-align: center;
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
  margin: 1px;
  color: rgb(15, 75, 95);
  background-color: rgba(100, 204, 238, 0.466);
  border: none;
  cursor: pointer;
}

.cell:focus {
  background-color: rgba(252, 245, 178, 0.699);
  outline: 0px transparent;
}

.completed {
  background-color: rgba(65, 186, 227, 0.796);
  pointer-events: none;
}